.prices-swiper-slide {
  display: flex;
  margin: 0 !important;
  padding: 16px;
  padding-bottom: 20px;
  box-sizing: border-box;
  width: 240px;
  height: auto;
  justify-content: space-between;
  border-radius: 6px;
  background-color: $background-color_2;
  text-decoration: none;
  color: #1b1c21;

  @media screen and (min-width: 768px) {
    margin-right: 0;
  }

  @media screen and (min-width: 1120px) {
    width: 240px;
  }

  &__text {
    margin: 0;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 14px;
    line-height: 18px;
  }

  &__order {
    width: 119px;
    height: 32px;
    background-color: $background-color_7;
    border-radius: 16px;
    text-decoration: none;

    &--swiper-on {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
  }

  &__order-text {
    margin: 0;
    margin-left: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: $background-color_2;
    letter-spacing: -0.15px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 550;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      transform: rotate(45deg);
      left: 92px;
      top: 12.5px;
      width: 8px;
      height: 3px;
      background-color: $background-color_2;
      border-radius: 1.5px 0 0 1.5px;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      transform: rotate(-45deg);
      left: 92px;
      top: 16.5px;
      width: 8px;
      height: 3px;
      background-color: $background-color_2;
      border-radius: 1.5px 0 0 1.5px;
    }
  }

  &__info {
    margin: 0;
    margin-bottom: 4px;
    color: $color_1;
    font-size: 14px;
    line-height: 16px;
  }

  &--initialized {
    position: relative;
    flex-direction: column;
    gap: 16px;
  }
}
