$color_1: #7e7e82;
$color_2: #1b1c21;
$font-family_1: 'TT lakes', sans-serif;
$font-family_2: 'TT Lakes', sans-serif;
$font-family_3: TT Lakes;
$background-color_1: #f8f8f8;
$background-color_2: white;
$background-color_3: #dddddd;
$background-color_4: #b5b6bc;
$background-color_5: none;

.types {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: $font-family_1;
  min-width: 0;
  background-color: $background-color_1;

  @media screen and (min-width: 768px) {
  }

  &__header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 16px;
    border-top: 1px solid #d9fff5;
    background-image: linear-gradient(270deg, white 0%, #f8f8f8 98.61%);

    @media screen and (min-width: 768px) {
      height: 56px;
      padding-left: 24px;
    }

    @media screen and (min-width: 1120px) {
      padding-left: 32px;
    }
  }

  &__title {
    font-family: $font-family_2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $color_1;
    margin: 0;
  }

  &__swiper {
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 16px;
    width: 100%;
    max-height: 200px;
    background-color: $background-color_1;
    transition:
      0.8s max-height,
      0.8s height;

    @media screen and (min-width: 768px) {
      padding-left: 0;
      margin-top: 0;
      overflow: hidden;
      transition: 0.337s max-height;
      height: auto;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      margin-top: -120px;
      width: 24px;
      height: 81px;
      z-index: 11;
      background: linear-gradient(
        -90deg,
        #f8f8f8 16.84%,
        rgba(248, 248, 248, 0.0001) 100%
      );

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__swiper-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: repeat(auto-fit, 160px);
    min-width: 320px;
    justify-content: space-between;
    gap: 16px;
    background-color: $background-color_1;
    padding: 24px;
    padding-top: 0;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, 224px);
    }

    @media screen and (min-width: 1120px) {
      padding-left: 32px;
      grid-template-columns: repeat(auto-fit, 240px);
    }

    &--initialized {
      display: flex;
    }
  }

  &__expand-types {
    display: none;
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 34px;
    transition:
      0.5s margin-bottom,
      1s margin-top;

    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 1120px) {
      margin-left: 32px;
    }

    &--expanded {
      @media screen and (min-width: 768px) {
        margin-bottom: 14px;
      }
    }
  }

  &__slide-text {
    margin: 0;
  }
}

.expand-types {
  display: flex;
  height: 24px;
  width: 134px;
  padding: 0;
  gap: 9px;
  border: none;
  background-color: $background-color_1;
  color: $color_2;
  font-family: $font-family_3;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  cursor: pointer;

  &__expand-img {
    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
      background-color: $background-color_1;
      transition-duration: 0.3s;
    }

    &--upside {
      @media screen and (min-width: 768px) {
        transform: rotate(180deg);
        transition-duration: 0.3s;
      }
    }
  }

  &--disabled {
    display: none;
  }

  &__text {
    margin-top: 0;
  }
}

.swiper-pagination {
  &--off {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.swiper-pagination-bullet {
  background-color: $background-color_3;
  opacity: 1;
  height: 12px;
  width: 12px;
  &:active {
    background-color: $background-color_5;
  }
}
.swiper-pagination-bullet-active {
  background-color: $background-color_4;
  opacity: 1;
}
