$color_1: #7e7e82;
$color_2: #1b1c21;
$font-family_1: 'TT lakes', sans-serif;
$font-family_2: 'TT lakes condensed', sans-serif;
$font-family_3: TT Lakes;
$border-color_1: #41f6d7;
$border-color_2: #b8ffec;
$background-color_1: #f8f8f8;
$background-color_2: white;
$background-color_3: #dddddd;
$background-color_4: #b5b6bc;
$background-color_5: none;
$background-color_6: transparent;
/*brands*/

/*
$color_1: inherit;
$color_2: #1b1c21;
$font-family_1: 'TT lakes', sans-serif;
$background-color_1: #ffffff;
$background-color_2: #f8f8f8;
$background-color_3: #41f6d7;
$border-color_1: #b8ffec;
/*main

$color_1: black;
$color_2: inherit;
$color_3: #7e7e82;
$font-family_2: 'TT lakes condensed', sans-serif; /* правильно
$background-color_1: white;
$background-color_2: transparent;
/*side-menu

$color_1: #7e7e82;
$color_2: #1b1c21;
$font-family_1: 'TT lakes', sans-serif;
$font-family_2: 'TT Lakes', sans-serif;
$font-family_3: TT Lakes;
$background-color_1: #f8f8f8;
$background-color_2: white;
$background-color_3: #dddddd;
$background-color_4: #b5b6bc;
$background-color_5: none;
/*types
*/
